<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>720228956949-qkl8j9niuane4fhvh4agbo7fblgsd8jq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720228956949-qkl8j9niuane4fhvh4agbo7fblgsd8jq</string>
	<key>API_KEY</key>
	<string>AIzaSyC7eJrI_3sUbVBInmA4-Hgg4ruU2TTKI4E</string>
	<key>GCM_SENDER_ID</key>
	<string>720228956949</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.voxbona.app</string>
	<key>PROJECT_ID</key>
	<string>vbintern-aa649</string>
	<key>STORAGE_BUCKET</key>
	<string>vbintern-aa649.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720228956949:ios:79c60c9f5972cbab</string>
	<key>DATABASE_URL</key>
	<string>https://vbintern-aa649.firebaseio.com</string>
</dict>
</plist>