<ion-split-pane when="md" *ngIf="isAuthenticated">
<ion-menu [content]="content" >
  <ion-header>
    <ion-toolbar>
      <ion-title>Hallo {{ name }}!</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="menu-container">
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" class="transparent list-item">
        {{p.title}}
      </button>


      <button
              ion-item
              icon-left
              (click)="onLogout()"
              *ngIf="isAuthenticated">
        <ion-icon name="log-out"></ion-icon>
        Logout
      </button>


    </ion-list>
  </ion-content>

</ion-menu>







<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

</ion-split-pane>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false" main *ngIf="!isAuthenticated"></ion-nav>